.factory{
	.tab.editor{@extend .d-grid,.cols-2,.gap-1-rem;font-size: 0.8em;}
}

%factory__block{@extend %paper; padding: 1rem; margin-bottom: 1rem; background: white;}

.factory__select{margin-bottom: 1rem;}
.factory__sampler{@extend %factory__block; border: 2px dashed rgba($primary,0.5); overflow: hidden; }
.factory__constructor{@extend %factory__block; @extend .d-grid,.cols-2,.gap-1-rem; margin-bottom: 0;
	& .separator{@extend .cols-span-2;padding-bottom: 0.3em; margin-bottom: 0; border-bottom: 1px solid rgba($primary,0.5); font-weight: bold;}
	&.cols-1>.separator{@extend .cols-span-1;}
	.form-group{
		label{@include ellipsis(); margin-bottom: 0; }
		input+label{white-space: normal;display: inline-block;width: 100%;}
		%input{margin-bottom: 0;}
	}
}
.factory__component__infos{@extend %factory__block;
	.title{border-top: 4px dashed rgba($primary,0.5);border-bottom: 4px dashed rgba($primary,0.5); text-align: center; font-style: italic; line-height: 1.3; padding:0 0 6px; font-weight: 400; width: fit-content; color: body(font-color-title); font-size: 2em; margin-bottom: 1rem; 
		.version{color: rgba(body(font-color-title),0.5); font-size: 0.6em;}	
	}
	table{ margin-bottom: 0;
		tr td:first-child{opacity: 0.7; white-space: nowrap; width: 130px;}
	}
}

.factory__editor{position: relative; font-size: 0.8em;
	textarea{ resize: none; overflow: hidden;  font-family: monospace; background: color(blacklight); color: color(white); padding: $spacing/2; border-radius: $radius;  margin-bottom: 0; border: 0;}
	.copy{position: absolute; right: 5px; top:5px; @extend .btn-sm; z-index: 1; opacity: 0.5; margin: 0;
	  &:hover{opacity: 1;}
	}
}

.factory__helper__icon{float: right; margin: 0.3em; cursor: pointer;
    &:hover+.factory__helper__text{opacity: 1;visibility: visible;}
}
.factory__helper__text{@extend %paper !optional; background-color: #fff; left: 0;right: 0;margin: auto; padding: 15px;  position: absolute; width: fit-content; max-width: 80%; opacity: 0; visibility: hidden; transition: all 0.3s; z-index: 1;
	&:hover{opacity: 1;visibility: visible;}
}