<div class="factory__component__infos">
	<div class="title"><span class="name"></span> <span class="version">[v<span class="version__value"></span>]</span></div>
	<table class="table table-sm">
		<tr>
			<td class="">Created</td>
			<td class="createdAt"></td>
		</tr>
		<tr>
			<td class="">Updated</td>
			<td class="lastUpdate"></td>
		</tr>
		<tr>
			<td class="">CSS class</td>
			<td class="cssClass"></td>
		</tr>
		<tr>
			<td class="">Notes</td>
			<td class="loadingMsg ft-i"></td>
		</tr>
	</table>
</div>